In [10]:
import pandas as pd

#### Asthma

In [27]:
asthma_outfp = './data/medical/asthma/Adult Asthma (Prevalence and MOrtality) by State.xlsx'

In [19]:
asthma_df = pd.read_excel(asthma_prev_fp, sheet_name='Prevalence')

In [20]:
asthma_df.head()

,State or Territory,Number with Current Asthma,Percent with Current Asthma (SE)
0,Alabama,394634,10.5 (0.52)
1,Alaska,50685,9.2 (0.78)
2,Arizona,545104,10.0 (0.54)
3,Arkansas,225853,9.8 (0.63)
4,California,2607598,8.5 (0.34)

In [22]:
asthma_mort_fp = pd.read_excel(asthma_prev_fp, sheet_name='Mortality')

In [24]:
asthma_mort_fp.head()

        State Number of Deathsa Death Ratea,b per million
0     Alabama                61                        11
1      Alaska                14                Unreliable
2     Arizona                92                      11.4
3    Arkansas                31                       9.5
4  California               387                       8.9

In [107]:
def read_Excel(outfp, sheetname):
    """Read excel sheet into DataFrame"""
    df = pd.read_excel(outfp, sheet_name=sheetname)
    return df

def renameCol(df, col):
    """Rename columns to state colums"""
    return df.rename(columns={col:'State'})

In [108]:
ashtma_prev = read_Excel(asthma_outfp, 'Prevalence')

In [109]:
ashtma_mort = read_Excel(asthma_outfp, 'Mortality')

In [113]:
ashtma_prev = ashtma_prev.rename(columns={'State or Territory': 'State'})

In [136]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [114]:
ashtma_prev.head()

        State  Number with Current Asthma Percent with Current Asthma (SE)
0     Alabama                      394634                      10.5 (0.52)
1      Alaska                       50685                       9.2 (0.78)
2     Arizona                      545104                      10.0 (0.54)
3    Arkansas                      225853                       9.8 (0.63)
4  California                     2607598                       8.5 (0.34)

In [115]:
ashtma_mort.head()

        State Number of Deathsa Death Ratea,b per million
0     Alabama                61                        11
1      Alaska                14                Unreliable
2     Arizona                92                      11.4
3    Arkansas                31                       9.5
4  California               387                       8.9

In [116]:
ashtma_join = ashtma_prev.merge(ashtma_prev, on='State')

In [130]:
ashtma_join['Condition'] = None
ashtma_join['Year'] = None

In [132]:
for i in range(len(ashtma_join)):
    ashtma_join.loc[i, 'Condition'] = 'Asthma'
    ashtma_join.loc[i, 'Year'] = '2018'

In [133]:
ashtma_join =

,State,Number with Current Asthma_x,Percent with Current Asthma (SE)_x,Number with Current Asthma_y,Percent with Current Asthma (SE)_y,Condition,Year
0,Alabama,394634,10.5 (0.52),394634,10.5 (0.52),Asthma,2018
1,Alaska,50685,9.2 (0.78),50685,9.2 (0.78),Asthma,2018
2,Arizona,545104,10.0 (0.54),545104,10.0 (0.54),Asthma,2018
3,Arkansas,225853,9.8 (0.63),225853,9.8 (0.63),Asthma,2018
4,California,2607598,8.5 (0.34),2607598,8.5 (0.34),Asthma,2018

In [176]:
ashtma_join['State'].head()

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
51                    Guam
52             Puerto Rico
Name: State, dtype: object

In [134]:
#save to file 
outfp = './data/medical/asthma.csv'
ashtma_join.to_csv(outfp)

#### Chronic Respiratory Disease

In [163]:
outfp = './data/medical/chronic_resp_disease/Chronic Lower Respiratory Disease Mortality by State.csv'
crd_df = pd.read_csv(outfp, sep=',')

In [164]:
crd_df.head()

     YEAR STATE  RATE DEATHS                                       URL
0  2018.0    AL  58.0   3596     /nchs/pressroom/states/alabama/al.htm
1  2018.0    AK  35.3    222      /nchs/pressroom/states/alaska/ak.htm
2  2018.0    AZ  41.2   3832     /nchs/pressroom/states/arizona/az.htm
3  2018.0    AR  61.7   2385    /nchs/pressroom/states/arkansas/ar.htm
4  2018.0    CA  30.9  13634  /nchs/pressroom/states/california/ca.htm

In [165]:
crd_df = crd_df.drop('URL', axis=1)

In [166]:
crd_df = crd_df.rename({'State': 'STATE'})

In [167]:
crd_df = crd_df.dropna()

In [168]:
crd_df.columns

Index(['YEAR', 'STATE', 'RATE', 'DEATHS'], dtype='object')

In [169]:
crd_df.head()

     YEAR STATE  RATE DEATHS
0  2018.0    AL  58.0   3596
1  2018.0    AK  35.3    222
2  2018.0    AZ  41.2   3832
3  2018.0    AR  61.7   2385
4  2018.0    CA  30.9  13634

In [173]:
crd_df = crd_df[crd_df['YEAR'] == 2018.0]

In [174]:
crd_df.rename(columns={'YEAR': 'Year', 'STATE':'State'})

      Year State  RATE DEATHS
0   2018.0    AL  58.0   3596
1   2018.0    AK  35.3    222
2   2018.0    AZ  41.2   3832
3   2018.0    AR  61.7   2385
4   2018.0    CA  30.9  13634
5   2018.0    CO  44.0   2636
6   2018.0    CT  28.9   1427
7   2018.0    DE  40.4    532
8   2018.0    FL  37.0  12362
9   2018.0    GA  45.7   4988
10  2018.0    HI  19.6    392
11  2018.0    ID  44.1    900
12  2018.0    IL  36.2   5639
13  2018.0    IN  57.2   4618
14  2018.0    IA  43.8   1862
15  2018.0    KS  50.4   1837
16  2018.0    KY  62.1   3421
17  2018.0    LA  43.1   2341
18  2018.0    ME  45.6    938
19  2018.0    MD  31.0   2234
20  2018.0    MA  30.9   2760
21  2018.0    MI  44.1   5781
22  2018.0    MN  34.0   2355
23  2018.0    MS  59.9   2134
24  2018.0    MO  50.2   3978
25  2018.0    MT  47.0    690
26  2018.0    NE  47.7   1142
27  2018.0    NV  49.3   1652
28  2018.0    NH  40.9    756
29  2018.0    NJ  28.0   3210
30  2018.0    NM  43.0   1160
31  2018.0    NY  28.5   7270
32  2018.0    NC  42.6   5360
33  2018.0    ND  34.9    328
34  2018.0    OH  49.0   7518
35  2018.0    OK  63.5   3013
36  2018.0    OR  35.6   1919
37  2018.0    PA  35.1   6432
38  2018.0    RI  31.2    466
39  2018.0    SC  45.8   2990
40  2018.0    SD  43.7    498
41  2018.0    TN  55.9   4662
42  2018.0    TX  39.7  10766
43  2018.0    UT  33.2    880
44  2018.0    VT  39.6    353
45  2018.0    VA  34.7   3465
46  2018.0    WA  34.5   2998
47  2018.0    WV  64.3   1723
48  2018.0    WI  37.8   2866
49  2018.0    WY  58.7    411

In [180]:
crd_df.append([2018.0,'DC','-', '-'], [2018.0, ''])

       0 DEATHS  RATE STATE    YEAR
0    NaN   3596  58.0    AL  2018.0
1    NaN    222  35.3    AK  2018.0
2    NaN   3832  41.2    AZ  2018.0
3    NaN   2385  61.7    AR  2018.0
4    NaN  13634  30.9    CA  2018.0
5    NaN   2636  44.0    CO  2018.0
6    NaN   1427  28.9    CT  2018.0
7    NaN    532  40.4    DE  2018.0
8    NaN  12362  37.0    FL  2018.0
9    NaN   4988  45.7    GA  2018.0
10   NaN    392  19.6    HI  2018.0
11   NaN    900  44.1    ID  2018.0
12   NaN   5639  36.2    IL  2018.0
13   NaN   4618  57.2    IN  2018.0
14   NaN   1862  43.8    IA  2018.0
15   NaN   1837  50.4    KS  2018.0
16   NaN   3421  62.1    KY  2018.0
17   NaN   2341  43.1    LA  2018.0
18   NaN    938  45.6    ME  2018.0
19   NaN   2234  31.0    MD  2018.0
20   NaN   2760  30.9    MA  2018.0
21   NaN   5781  44.1    MI  2018.0
22   NaN   2355  34.0    MN  2018.0
23   NaN   2134  59.9    MS  2018.0
24   NaN   3978  50.2    MO  2018.0
25   NaN    690  47.0    MT  2018.0
26   NaN   1142  47.7    NE  2018.0
27   NaN   1652  49.3    NV  2018.0
28   NaN    756  40.9    NH  2018.0
29   NaN   3210  28.0    NJ  2018.0
30   NaN   1160  43.0    NM  2018.0
31   NaN   7270  28.5    NY  2018.0
32   NaN   5360  42.6    NC  2018.0
33   NaN    328  34.9    ND  2018.0
34   NaN   7518  49.0    OH  2018.0
35   NaN   3013  63.5    OK  2018.0
36   NaN   1919  35.6    OR  2018.0
37   NaN   6432  35.1    PA  2018.0
38   NaN    466  31.2    RI  2018.0
39   NaN   2990  45.8    SC  2018.0
40   NaN    498  43.7    SD  2018.0
41   NaN   4662  55.9    TN  2018.0
42   NaN  10766  39.7    TX  2018.0
43   NaN    880  33.2    UT  2018.0
44   NaN    353  39.6    VT  2018.0
45   NaN   3465  34.7    VA  2018.0
46   NaN   2998  34.5    WA  2018.0
47   NaN   1723  64.3    WV  2018.0
48   NaN   2866  37.8    WI  2018.0
49   NaN    411  58.7    WY  2018.0
0   2018    NaN   NaN   NaN     NaN
1     DC    NaN   NaN   NaN     NaN
2      -    NaN   NaN   NaN     NaN
3      -    NaN   NaN   NaN     NaN