In [10]:
import pandas as pd

#### Asthma

In [27]:
asthma_outfp = './data/medical/asthma/Adult Asthma (Prevalence and MOrtality) by State.xlsx'

In [19]:
asthma_df = pd.read_excel(asthma_prev_fp, sheet_name='Prevalence')

In [20]:
asthma_df.head()

,State or Territory,Number with Current Asthma,Percent with Current Asthma (SE)
0,Alabama,394634,10.5 (0.52)
1,Alaska,50685,9.2 (0.78)
2,Arizona,545104,10.0 (0.54)
3,Arkansas,225853,9.8 (0.63)
4,California,2607598,8.5 (0.34)

In [22]:
asthma_mort_fp = pd.read_excel(asthma_prev_fp, sheet_name='Mortality')

In [24]:
asthma_mort_fp.head()

        State Number of Deathsa Death Ratea,b per million
0     Alabama                61                        11
1      Alaska                14                Unreliable
2     Arizona                92                      11.4
3    Arkansas                31                       9.5
4  California               387                       8.9

In [107]:
def read_Excel(outfp, sheetname):
    """Read excel sheet into DataFrame"""
    df = pd.read_excel(outfp, sheet_name=sheetname)
    return df

def renameCol(df, col):
    """Rename columns to state colums"""
    return df.rename(columns={col:'State'})

In [108]:
ashtma_prev = read_Excel(asthma_outfp, 'Prevalence')

In [109]:
ashtma_mort = read_Excel(asthma_outfp, 'Mortality')

In [113]:
ashtma_prev = ashtma_prev.rename(columns={'State or Territory': 'State'})

In [33]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [114]:
ashtma_prev.head()

        State  Number with Current Asthma Percent with Current Asthma (SE)
0     Alabama                      394634                      10.5 (0.52)
1      Alaska                       50685                       9.2 (0.78)
2     Arizona                      545104                      10.0 (0.54)
3    Arkansas                      225853                       9.8 (0.63)
4  California                     2607598                       8.5 (0.34)

In [115]:
ashtma_mort.head()

        State Number of Deathsa Death Ratea,b per million
0     Alabama                61                        11
1      Alaska                14                Unreliable
2     Arizona                92                      11.4
3    Arkansas                31                       9.5
4  California               387                       8.9

In [116]:
ashtma_join = ashtma_prev.merge(ashtma_prev, on='State')

In [130]:
ashtma_join['Condition'] = None
ashtma_join['Year'] = None

In [132]:
for i in range(len(ashtma_join)):
    ashtma_join.loc[i, 'Condition'] = 'Asthma'
    ashtma_join.loc[i, 'Year'] = '2018'

In [133]:
ashtma_join =

,State,Number with Current Asthma_x,Percent with Current Asthma (SE)_x,Number with Current Asthma_y,Percent with Current Asthma (SE)_y,Condition,Year
0,Alabama,394634,10.5 (0.52),394634,10.5 (0.52),Asthma,2018
1,Alaska,50685,9.2 (0.78),50685,9.2 (0.78),Asthma,2018
2,Arizona,545104,10.0 (0.54),545104,10.0 (0.54),Asthma,2018
3,Arkansas,225853,9.8 (0.63),225853,9.8 (0.63),Asthma,2018
4,California,2607598,8.5 (0.34),2607598,8.5 (0.34),Asthma,2018

In [1]:
asthma_join.head()

NameError: name 'asthma_join' is not defined

In [134]:
#save to file 
outfp = './data/medical/asthma.csv'
ashtma_join.to_csv(outfp)

#### Asthma by County

In [3]:
import pandas as pd

In [15]:
outfp = './data/medical/chronic_resp_disease/Chronic Lower Respiratory Disease Mortality by State.csv'
crd_by_state_df = pd.read_csv(outfp)

In [16]:
crd_by_state_df.head()

   YEAR STATE  RATE DEATHS                                       URL
0  2018    AL  58.0   3596     /nchs/pressroom/states/alabama/al.htm
1  2018    AK  35.3    222      /nchs/pressroom/states/alaska/ak.htm
2  2018    AZ  41.2   3832     /nchs/pressroom/states/arizona/az.htm
3  2018    AR  61.7   2385    /nchs/pressroom/states/arkansas/ar.htm
4  2018    CA  30.9  13634  /nchs/pressroom/states/california/ca.htm

In [17]:
crd_by_state_df = crd_by_state_df[crd_by_state_df['YEAR'] == 2018.0]

In [19]:
crd_by_state_df = crd_by_state_df.drop('URL', axis=1)

In [30]:
crd_by_state_df = crd_by_state_df.rename(columns={'STATE': 'State'})

In [31]:
crd_by_state_df.head()

   YEAR State  RATE DEATHS
0  2018    AL  58.0   3596
1  2018    AK  35.3    222
2  2018    AZ  41.2   3832
3  2018    AR  61.7   2385
4  2018    CA  30.9  13634

In [34]:
crd_by_state_df['State'] = crd_by_state_df['State'].apply(lambda x: states[x])

In [36]:
crd_by_state_df.head()

   YEAR       State  RATE DEATHS
0  2018     Alabama  58.0   3596
1  2018      Alaska  35.3    222
2  2018     Arizona  41.2   3832
3  2018    Arkansas  61.7   2385
4  2018  California  30.9  13634

In [52]:
crd_by_state_df = crd_by_state_df.rename(columns={'RATE':'ChronicRD Rate'})

In [40]:
a_df = pd.read_csv('./data/medical/asthma.csv')

In [53]:
ast_join_crd = a_df.merge(crd_by_state_df, on='State')

In [63]:
#ast_join_crd = ast_join_crd.drop(['DEATHS'], axis=1)
ast_join_crd = ast_join_crd.drop(['Condition'], axis=1)

In [64]:
ast_join_crd.head()

,State,Number with Current Asthma_x,Percent with Current Asthma (SE)_x,Number with Current Asthma_y,Percent with Current Asthma (SE)_y,Year,ChronicRD Rate
0,Alabama,394634,10.5 (0.52),394634,10.5 (0.52),2018,58.0
1,Alaska,50685,9.2 (0.78),50685,9.2 (0.78),2018,35.3
2,Arizona,545104,10.0 (0.54),545104,10.0 (0.54),2018,41.2
3,Arkansas,225853,9.8 (0.63),225853,9.8 (0.63),2018,61.7
4,California,2607598,8.5 (0.34),2607598,8.5 (0.34),2018,30.9

#### Obesity

In [3]:
import pandas as pd

In [4]:
outfp = './data/medical/obesity/AdultObesitybyState.csv'

In [6]:
ob_df = pd.read_csv(outfp)

In [9]:
outfp = './data/medical/obesity/ObesityExcel.xlsx'

In [10]:
ob_df.to_excel(outfp)

In [79]:
ob_df = ob_df.rename(columns={'YearEnd': 'Year', 'LocationDesc': 'State', 'Data_Value': 'Obesity'})

In [80]:
ob_df.head()

     Year     State Obesity
0  2018.0  National    30.9
1  2018.0   Alabama    36.2
2  2018.0    Alaska    29.5
3  2018.0   Arizona    29.5
4  2018.0  Arkansas    37.1

In [81]:
ob_df.head(100)

      Year     State Obesity
0   2018.0  National    30.9
1   2018.0   Alabama    36.2
2   2018.0    Alaska    29.5
3   2018.0   Arizona    29.5
4   2018.0  Arkansas    37.1
..     ...       ...     ...
60     NaN       NaN     NaN
61     NaN       NaN     NaN
62     NaN       NaN     NaN
63     NaN       NaN     NaN
64     NaN       NaN     NaN

[65 rows x 3 columns]

In [83]:
ob_df = ob_df.dropna()

In [91]:
ob_df = ob_df.drop([0, 52, 54], axis=0)

In [92]:
ob_df = ob_df.drop('Year', axis=1)

In [93]:
ob_df = ob_df.rename(columns={'Data_Value': 'Obesity_Rate'})

In [94]:
ob_df.head()

        State Obesity
1     Alabama    36.2
2      Alaska    29.5
3     Arizona    29.5
4    Arkansas    37.1
5  California    25.8

In [96]:
ast_crd_ob = ast_join_crd.merge(ob_df, on='State')

In [97]:
ast_crd_ob.head()

,State,Number with Current Asthma_x,Percent with Current Asthma (SE)_x,Number with Current Asthma_y,Percent with Current Asthma (SE)_y,Year,ChronicRD Rate,Obesity
0,Alabama,394634,10.5 (0.52),394634,10.5 (0.52),2018,58.0,36.2
1,Alaska,50685,9.2 (0.78),50685,9.2 (0.78),2018,35.3,29.5
2,Arizona,545104,10.0 (0.54),545104,10.0 (0.54),2018,41.2,29.5
3,Arkansas,225853,9.8 (0.63),225853,9.8 (0.63),2018,61.7,37.1
4,California,2607598,8.5 (0.34),2607598,8.5 (0.34),2018,30.9,25.8

#### Hypertension

In [98]:
outfp = './data/medical/joined_medical.xlsx'

In [100]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.3.tar.gz (172 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Collecting et_xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: openpyxl, et-xmlfile
  Building wheel for openpyxl (setup.py): started
  Building wheel for openpyxl (setup.py): finished with status 'done'
  Created wheel for openpyxl: filename=openpyxl-3.0.3-py2.py3-none-any.whl size=241264 sha256=7028ba992ff18eab81e634bf3c3acc3b1334610f60ae513c4d383341d569c442
  Stored in directory: c:\users\tarah.wright\appdata\local\pip\cache\wheels\34\21\39\70d175b8eb9f953ff614f6881346cf556226951d79e4163a32
  Building wheel for et-xmlfile (setup.py): started
  Building wheel for et-xmlfile (setup.py): finished with status 'done'
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8920 sha256=c860bd34d3e874f9311dabcb779a13c63b7151efa3faec734df49be5d8c5cfe0
  Stored in directory: c:\users\tarah.wright\appdata\local\pip\cache\wheels\6e\df\38\abda47b884e3e25f9f9b6430e5ce44c47670758a50c0c51759
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.3

In [101]:
ast_join_crd.to_excel(outfp)

In [1]:
import pandas as pd

In [3]:
med_df = pd.read_excel('./data/medical/joined_medical.xlsx')

In [5]:
diab_df = pd.read_csv('./data/medical/diabetes/DiabetesAtlasData.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

In [11]:
import pandas as pd

In [13]:
!pip install tables

Collecting tables
  Downloading tables-3.6.1-2-cp38-cp38-win_amd64.whl (3.1 MB)
Collecting numexpr>=2.6.2
  Downloading numexpr-2.7.1-cp38-none-win_amd64.whl (90 kB)
Requirement already satisfied: numpy>=1.9.3 in c:\users\tarah.wright\anaconda3\envs\geo_env\lib\site-packages (from tables) (1.18.4)
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.7.1 tables-3.6.1

In [19]:
lst = pd.read_csv('C:/Users/tarah.wright/Desktop/NHx-deposition2050.txt')

In [20]:
lst.head()

  NHx-deposition\tmg N/m2/year\t\tim = 72\t\tjm = 48\t\tyear2050\t\t\t
0  \t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0....
1  \t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0....
2  \t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0....
3  \t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0....
4  \t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0.15\t0....